$color-principal: #060A24;
$color-secondary: #FFFFFF;
$color-polygon: #0000FF;
$color-polygon-end: #0000A3;
$color-nav: #0000EC;
$color-buttom: #00F0B8;
/*$color-buttom-active: rgba(6,10,36,0.56);*/
$font-title: 'IBM Plex Sans', sans-serif;
$font-normal: 'IBM Plex Mono', monospace;