@import "../saas/variables";
@import "../saas/mixin";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
} 

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    /*contenedor flexibles correspondientes a las secciones del podcast*/
    header {
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0;
        bottom: 50px;
        padding: 15px 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        /*menu hamburguesa*/
        nav .menu {
            width: 100%;
            position: relative;
            display: flex;
            flex-flow: column wrap;
            justify-content: center; 

            #btn-menu {
                position: relative;
                top: 10px;
                z-index: 1;
                opacity: -1;
                display: flex;
                justify-content: center;
                cursor: pointer;
            }

            span {
                position: relative;
                width: 25px;
                height: 2px;
                margin: 5px;
                bottom: 10px;
                z-index: -1;
                background-color: $color-principal;   
                
            } 

            ul {
                width: 100%;
                position: fixed;
                top: 70px;
                right: 0;
                display: flex;
                flex-flow: column wrap;
                list-style: none;
                overflow: hidden;
                height: 0;
                background-color: $color-polygon;

                li {
                    position: relative;

                    a {
                        position: relative;
                        text-decoration: none;
                        padding: 16px 5px;
                        line-height: 50px;
                        display: block;
                        font-family: $font-normal;
                        font-size: 16px;
                        color: $color-secondary;
                        letter-spacing: 0;
                        line-height: 28px;
                    } 
                }
            }

            input[type="checkbox"]:checked ~ ul {
                    height: 240px; 
            }

            input[type="checkbox"]:checked ~ #span1 {
                transform: rotate(140deg);
                top: 5px; 
            }

            input[type="checkbox"]:checked ~ #span2 {
                opacity: 0;
            }

            input[type="checkbox"]:checked ~ #span3 {
                transform: rotate(-140deg);
                bottom: 19px;
            }
        }                       
    }  

    #article-first {
        position: relative;
        width: 100%;
        top: auto;
        top: 70px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;

        #greeting {
            position: relative;
            width: 100%;  
            height: auto;
            padding: 15px 10%;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;

            h1 {
                width: 100%;
                padding: 10px 5%;
                font-family: $font-title;
                color: $color-principal;
                font-size: 3rem;    
            }
            
            p {
                width: 100%;
                font-family: $font-normal;
                font-size: 14px;
                padding: 10px 5%;
                color: $color-principal;
                letter-spacing: 0;
                line-height: 25px;
            } 
        }

        #episodios {
            width: 100%;
            padding: 40% 0;
            background-color: $color-polygon;
            clip-path: polygon(0 13%, 100% 0, 100% 88%, 0% 100%);
            
            .audiosamples {
                width: 100%;
                padding: 10px 5%;  
            }
        } 
       
        #de-donde-venimos {
            width: 100%;
            position: relative;
            background-color: $color-secondary;
          
            #cellphone {
                width: 100%;
                padding: 10px 5%; 
            }

            p {
                width: 100%;
                font-family: $font-normal;
                font-size: 14px;
                padding: 10px 5%;
                color: $color-principal;
                letter-spacing: 0;
                line-height: 25px;
            }
        }       
        
    }

    #article-second {
        position: relative;
        width: 100%;
        top: 70px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
     
       #invitadas-os-estelares {
            width: 100%;
            position: relative;
            background-color: $color-secondary; 
            
            .women {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }
        
        #algunos-de-nuestros-temas {
            width: 100%;
            position: relative;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            padding: 20px 5%; 
    
            .logos {
                position: relative;
                display: flex;
                flex-direction: column;
    
                .text {
                    width: 100%;
                    padding: 5px;
                    margin-bottom: 15px;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    font-family: $font-title;
                    font-size: 24px;
                    color: $color-principal;
                    letter-spacing: 0; 
                }   
            }
    
            img {
                position: relative;
                max-width: 100%;
                height: auto;
                margin-top: 10%;
            }
        }  
        
        #novelties {
            background-color: $color-polygon;
            width: 100%;
            padding: 20% 15px;
            position: relative;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);

            #center {
                text-align: center;
            }
        }
        
    }
    
    #footer {
        position: relative;
        width: 100%;
        top: 70px;
        padding: 15px 10%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        span {
            position: relative;
            width: 100%;
            padding: 5%;
            font-family: $font-normal;
            font-size: 14px;
            color: $color-principal;
            letter-spacing: 0;
            line-height: 22px; 
            display: flex;
            justify-content: center;
        }

        div {
            position: relative;
            width: 100%;
            padding: 5%;
            display: flex;
            justify-content: space-around;
        }
    }

    //clases//

    .button{
        width: 100%;
        height: 48px;
        padding: 10px 5%;
        margin-top: 15px;
        border: 1px solid $color-buttom;
        background: $color-buttom 100%;
        font-family: $font-normal;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 15px;
        background-image: $color-buttom; 
    }
    
    .whitefont {
        width: 100%;
        padding: 10px 5%;
        color: $color-secondary;
        font-family: $font-title;
        font-size: 36px;
        font-weight: normal;
        letter-spacing: 0;
        line-height: 42px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }
 
    .blackfont {
        width: 100%;
        padding: 10px 5%;
        margin: 10px;
        color: $color-principal;
        font-family: $font-title;
        font-size: 36px;
        font-weight: normal;
        letter-spacing: 0;
        line-height: 42px;
        display: flex;
        flex-flow: column wrap;
    }

    /*Responsividad a desktop*/
    @media screen and (min-width: 1000px){
        header nav .menu ul {
            position: relative;
            display: flex;
            flex-direction: row;
        }
    }

}












