/* font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif; */

 * {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

header {
    position: fixed;
    background-color: greenyellow;
    width: 100%;
    height: 70px;
    top: 0;
    padding: 15px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#article-first {
    position: relative;
    width: 100%;
    background-color: lightgreen;
    top: 70px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

#article-second {
    position: relative;
    width: 100%;
    background-color: lightpink;
    top: 70px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

#footer {
    position: relative;
    width: 100%;
    background-color: lightsteelblue;
    top: 70px;
    padding: 15px 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#article-first #greeting {
    position: relative;
    width: 100%;  
    height: auto;
    padding: 15px 10%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: lightblue;
}

h1 {
    width: 100%;
    padding: 10px 5%;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 3rem;    
}

p {
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    padding: 10px 5%;
    color: #060A24;
    letter-spacing: 0;
    line-height: 25px;
} 

.button{
    width: 100%;
    height: 48px;
    padding: 10px 5%;
    margin-top: 15px;
    border: 1px solid #00F3BB;
    background: #00F3BB 100%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}

#article-first #episodios {
    width: 100%;
    background-color: blue;
} 

.whitefont {
    width: 100%;
    padding: 10px 5%;
    margin: 10px;
    color:#FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 42px;
    display: flex;
    flex-flow: column wrap;
}

.audiosamples {
    width: 100%;
    padding: 10px 5%;  
}

#article-first #de-donde-venimos {
    width: 100%;
    position: relative;
    background-color: white;
}

#de-donde-venimos #cellphone {
    width: 100%;
    padding: 10px 5%;  
}

.blackfont {
    width: 100%;
    padding: 10px 5%;
    margin: 10px;
    color: #060A24 ;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 42px;
    display: flex;
    flex-flow: column wrap;
}
#article-second #invitadas-os-estelares {
    width: 100%;
    position: relative;
    background-color: white; 
}

#invitadas-os-estelares .women {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#article-second  #algunos-de-nuestros-temas {
    background-color: gold;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 20px 5%; 
}

#algunos-de-nuestros-temas .logos {
    background-color: lightgray;
    position: relative;
    display: flex;
    flex-direction: column;
}

#algunos-de-nuestros-temas img {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-top: 10%;
}

.logos .text {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0; 
}   

#article-second #novedades {
    background-color: blue;
    width: 100%;
    padding: 20px 5%;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

#footer span {
    position: relative;
    width: 100%;
    padding: 5%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px; 
    display: flex;
    justify-content: center;
}

#footer div {
    position: relative;
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: space-around;
}